<!-- templates/global/color.html.twig -->
<div class="listCard">
    <div class="card-demo bg black">
        <span> $black #000</span>
    </div>
    
    <div class="card-demo bg white">
        <span> $white #fff</span>
    </div>
    <hr/>
    <div class="card-demo bg grey">
        <span> $grey #8c8c8c</span>
    </div>
    
    <div class="card-demo bg dark-grey">
        <span> $dark-grey #2a2a2a</span>
    </div>
    <div class="card-demo bg light-grey">
        <span> $light-grey #edf1f0</span>
    </div>
    <hr/>
    <div class="card-demo bg red">
        <span> $red #fa544d</span>
    </div>
</div>