<!-- templates/global/radius.html.twig -->
<div class="listCard">
    <div class="card-demo radius">
        <span>5px</span>
    </div>
    <div class="card-demo radius-xl">
        <span>10px</span>
    </div>
    <div class="card-demo radius-xs">
        <span>3px</span>
    </div>
</div>