<!-- templates/global/shadow.html.twig -->
<div class="listCard">
    <div class="card-demo shadow">
        <span>5px</span>
    </div>
    <div class="card-demo shadow-xl">
        <span>10px</span>
    </div>
    <div class="card-demo shadow-xs">
        <span>3px</span>
    </div>
</div>