<!-- templates/global/typography.html.twig -->
<div class="typography">
    <h1>H1. Praemii statuas inquit gloriae de</h1>
    <h2>H2. Inutiles inserunt et quoque venditare</h2>
    <h3>H3. Et inpenderet Honoratus ei orientis</h3>
    <h4>H4. Non innoxius publico atrox quod</h4>
    <h5>H5. Modum latera bonis orientis post</h5>
    <hr/>
    <h3>Exemple texte :</h3>
    <p>Haec igitur Epicuri non probo, inquam. <a href="">De cetero vellem equidem aut ipse</a> doctrinis fuisset instructior est enim, quod tibi ita videri necesse est, non satis politus iis artibus, quas qui tenent, eruditi appellantur aut ne deterruisset alios a studiis. quamquam te quidem video minime esse deterritum.</p>
    <p><strong>Dum apud Persas, ut supra narravimus, perfidia regis motus agitat insperatos, et in eois tractibus bella rediviva consurgunt, anno sexto decimo et eo diutius post Nepotiani exitium, saeviens per urbem aeternam urebat cuncta Bellona, ex primordiis minimis ad clades excita luctuosas, quas obliterasset utinam iuge silentium! ne forte paria quandoque temptentur, plus exemplis generalibus nocitura quam delictis.</strong></p>
    <p><em>Ac ne quis a nobis hoc ita dici forte miretur, quod alia quaedam in hoc facultas sit ingeni, neque haec dicendi ratio aut disciplina, ne nos quidem huic uni studio penitus umquam dediti fuimus. Etenim omnes artes, quae ad humanitatem pertinent, habent quoddam commune vinculum, et quasi cognatione quadam inter se continentur.</em></p>
    <hr/>
    <h3>Liste d'éléments:</h3>
    <ul>
        <li>Element 1</li>
        <li>Element 2</li>
        <li>Element 3</li>
        <li>Element 4</li>
        <li>Element 5</li>
    </ul>
    <hr/>
    <h3>Liste d'éléments:</h3>
    <ol>
        <li>Element 1</li>
        <li>Element 2</li>
        <li>Element 3</li>
        <li>Element 4</li>
        <li>Element 5</li>
    </ol>
</div>