@charset "UTF-8";
/* scss/global/_color.scss */
.bg.black {
  background: #000;
}

.bg.white {
  background: #fff;
}

.bg.grey {
  background: #8c8c8c;
}

.bg.dark-grey {
  background: #2a2a2a;
}

.bg.light-grey {
  background: #edf1f0;
}

.bg.red {
  background: #fa544d;
}

.t.black {
  color: #000;
}

.t.white {
  color: #fff;
}

.t.grey {
  color: #8c8c8c;
}

.t.dark-grey {
  color: #2a2a2a;
}

.t.light-grey {
  color: #edf1f0;
}

.t.red {
  color: #fa544d;
}

/* scss/global/_typography.scss */
html, body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

/* scss/global/_radius.scss */
.radius {
  border-radius: 5px;
}

.radius-xs {
  border-radius: 3px;
}

.radius-xl {
  border-radius: 10px;
}

/* scss/global/_shadow.scss */
.shadow {
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.shadow-xs {
  -webkit-box-shadow: 0 0 3px;
          box-shadow: 0 0 3px;
}

.shadow-xl {
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

/* scss/global/_tableau.scss */
table tr {
  color: #8c8c8c;
  background: #fff;
}

table tr th,
table tr td {
  padding: 3px;
  border: 1px solid #8c8c8c;
}

table tr th {
  color: #fff;
  background: #8c8c8c;
}

/* scss/atom/_button.scss */
.btn {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 0 30px;
  line-height: 56px;
  cursor: pointer;
  border-radius: 4px;
  background: #fff;
  color: #2a2a2a;
  position: relative;
  display: inline-block;
  /* Bouton avec bordure rouge haut */
  /* Ajout d'une flèche après le contenu */
  /* Ajout d'une ombre */
}

.btn .icon {
  height: 1em;
  width: 20px;
  display: inline-block;
  right: 0;
  top: 3px;
  position: relative;
  -webkit-transition: all 0.273s;
  transition: all 0.273s;
  margin-right: 10px;
}

.btn .icon.eye {
  background: url(../img/eye.png) center center no-repeat;
  background-size: 25px auto;
}

.btn.border {
  /* Bouton avec bordure rouge bas */
}

.btn.border:before {
  content: "";
  background: #fa544d;
  width: 0;
  height: 2px;
  border-radius: 0 0 3px 3px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  -webkit-transition: all 0.273s;
  transition: all 0.273s;
}

.btn.border:hover:before {
  width: 100%;
}

.btn.border.borderBottom:before {
  bottom: 0;
  top: auto;
}

.btn.arrow:after {
  content: "";
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 1em;
  background: url("../img/arrow.png") center center no-repeat;
  background-size: 14px auto;
  top: 2px;
  left: 0;
  -webkit-transition: all 0.273s;
  transition: all 0.273s;
}

.btn.arrow.red:after {
  background: url("../img/arrow-red.png") center center no-repeat;
  background-size: 22px auto;
}

.btn.arrow:hover:after {
  left: 10px;
}

.btn.shadow {
  -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
}

/* scss/molecule/_Boutons.scss */
/* scss/jsExample/_clickme.scss */
.click {
  cursor: pointer;
  position: relative;
  left: 0;
  -webkit-transition: left .25s;
  transition: left .25s;
  background: #ccf9bf;
  padding: 20px 40px;
  display: inline-block;
}

.clickAnimate {
  left: 80%;
}
