<!-- templates/atoms/buttons3ds.html.twig -->

<a class="ds-btn ds-btn--scream" href="#">Button</a>

<a class="ds-btn ds-btn--scream has-icon" href="#">
    <i class="ds-ico ds-ico-calendar-mini"></i>Button
</a>