// Variables Colors

$color-primary: #2196F3 !default;
$color-secondary: #F7F7F7 !default;

$color-black: #444444 !default;
$color-white: #ffffff !default;

$color-font: $color-black !default;
$color-title: $color-black !default;

$color-dark-gray: #545454 !default;
$color-medium-gray: #9a9a9a !default;
$color-light-gray: #e4e4e4 !default;