/* scss/global/_shadow.scss */

$shadow: 5px;
$shadow-xs: 3px;
$shadow-xl: 10px;

.shadow { box-shadow: 0 0 $shadow; }
.shadow-xs { box-shadow: 0 0 $shadow-xs; }
.shadow-xl { box-shadow: 0 0 $shadow-xl; }