/* scss/global/_typography.scss */

// Font weights
$light: 100;
$medium: 300;
$regular: 400;
$regular-bold: 500;
$bold: 700;

// Base Font
$base-font-family: 'Roboto', sans-serif;
$base-font-weight: $regular;
$base-font-size: 12px;
$base-font-normal: 14;
$base-line-height: 1em;

$condensed-font-family: 'Roboto Condensed', sans-serif;
$condensed-font-weight: $regular;
$condensed-font-size: 12px;
$condensed-font-normal: 14;
$condensed-line-height: 1em;

html, body {
  font-family: $condensed-font-family;
  font-size: 62.5%;
  font-weight: $regular;
}

@mixin font-size($sizeValue: 12) {
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: ($sizeValue / 16 * 16/10) + rem; // base 16 // html
}