// Animate Scroll

@mixin animate-scroll($movX: 100%, $movY: 0, $time: 500ms, $delay: 0ms, $opacity: 0){
    transform: translate($movX, $movY);
    transition-duration: $time;
    transition-delay: $delay;
    opacity: $opacity;
}

.scroll-visible{
    transform: translate(0, 0) !important;
    opacity: 1 !important;
}
