.link-arrow{
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
  height: 30px;

  a{
    display: inline-block;
    line-height: 30px;
    font-size: 23px;
    font-weight: 700;

    @include animate-arrow(26);
  }

}