{#
/**
 * @input
 * Theme override for a input file
 *
 * Available variables:
 * - idName : ID to bind the label and the input field.
 * - name: Name to the field.
 * - label: The title of the field.
 *
 */
#}

<div class="file-field input-field niji-file">
    <div class="btn">
        <span>{{ label }}</span>
        <input type="file" id="{{ idName }}" name="{{ name }}"/>
    </div>
    <div class="file-path-wrapper">
        <input type="text" class="file-path validate" />
    </div>
</div>