{#
/**
 * @button
 * Theme override for a button submit
 *
 * Available variables:
 * - value: Name to the submit button.
 *
 */
#}

<div class="input-submit niji-submit">

    <button class="btn waves-effect waves-light" type="submit" name="action" >
        {{ value }}
        <i class="material-icons right">send</i>
    </button>

</div>
