.niji-textarea, .field--widget-string-textarea{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 10px;

  label{
    font-family: $primary-font;
    font-size: 1rem;
  }

  textarea{
    display: block;
    outline: none;
    padding: 10px 20px;
    border: none;
    width: 100%;
    background-color: $color-primary;
  }
}