// Animate Bar

@mixin animate-bar($height: 100%, $width: 8px){

  // change position bar
  .progress-wrap{
    width: $width;
    height: $height;
    position: absolute;
    background-color: $color-secondary;
    overflow: hidden;
    z-index: 10;
    top: 0; // value change : top, bottom
    left: 0; // value change : left, right
    display: block;
  }

  // change position bar
  .progress-bar{
    position: absolute;
    background-color: $color-white;
    z-index: 10;
    top: 0; // value change : top, bottom
    left: 0; // value change : left, right
    width: $width;
    height: $height;
  }

  // change transition bar direction
  @keyframes transition-bar {
    0% {top: 0;} // value change : top, left
    100% {top: 100%;} // value change : top, left
  }

}