{#
/**
 * @link
 * Theme override for a link containing a arrow.
 *
 * Available variables:
 * - title: The title of the link
 * - url: A link to the file.
 *
 */
#}

<div class="link-arrow">
    <a href="{{ url }}">
        {{ title }}
        <span class="animate-arrow"></span>
    </a>
</div>